In [2]:
from starter import *
import pickle

%matplotlib inline

In [3]:
from datetime import datetime, date, time

## Load data

In [4]:
train = pd.read_csv('train.csv')
holidays = pd.read_csv('holidays.csv')
weather = pd.read_csv('weather.csv')
metadata = pd.read_csv('metadata.csv')
submission_format = pd.read_csv('submission_format.csv')
submission_frequency = pd.read_csv('submission_frequency.csv')

In [5]:
data = {'train': train, 'holidays': holidays, 'weather': weather, 'metadata': metadata,
       'submission_format': submission_format, 'submission_frequency': submission_frequency}

conn = sqlite3.connect('df.db')

cur = conn.cursor()

conn.commit()
conn.close()

## Data Cleaning

### Fix timestamps

In [26]:
train['Timestamp'] = pd.to_datetime(train.Timestamp)
holidays['Date'] = pd.to_datetime(holidays.Date).dt.date
weather['Timestamp'] = pd.to_datetime(weather.Timestamp)
submission_format['Timestamp'] = pd.to_datetime(submission_format.Timestamp)

In [60]:
train['Date'] = train['Timestamp'].dt.date
train['Year'] = train['Timestamp'].dt.year
train['Month'] = train['Timestamp'].dt.month
train['Time'] = train['Timestamp'].dt.time
train['Hour'] = train['Timestamp'].dt.hour

In [19]:
submission_format['Date'] = submission_format['Timestamp'].dt.date
submission_format['Year'] = submission_format['Timestamp'].dt.year
submission_format['Month'] = submission_format['Timestamp'].dt.month
submission_format['Time'] = submission_format['Timestamp'].dt.time
submission_format['Hour'] = submission_format['Timestamp'].dt.hour

In [61]:
weather['Time'] = weather['Timestamp'].dt.time

In [78]:
submission_frequency.loc[:,'ForecastPeriodMin'] = submission_frequency.ForecastPeriodNS/(6e10)

In [79]:
submission_frequency.loc[:,'Period_Quarter'] = submission_frequency.apply(
    lambda row: 1 if row['ForecastPeriodMin']==15 else 0, axis=1)
submission_frequency.loc[:,'Period_Hour'] = submission_frequency.apply(
    lambda row: 1 if row['ForecastPeriodMin']==60 else 0, axis=1)
submission_frequency.loc[:,'Period_Days'] = submission_frequency.apply(
    lambda row: 1 if row['ForecastPeriodMin']==1440 else 0, axis=1)

In [80]:
submission_frequency.head()

,ForecastId,ForecastPeriodNS,ForecastPeriodMin,Period_Quarter,Period_Hour,Period_Days
0,1,86400000000000,1440.0,0,0,1
1,2,86400000000000,1440.0,0,0,1
2,3,86400000000000,1440.0,0,0,1
3,4,86400000000000,1440.0,0,0,1
4,5,3600000000000,60.0,0,1,0

In [10]:
# pickle.dump(train, open('train.p', 'wb'))
# pickle.dump(weather, open('weather.p', 'wb'))
# pickle.dump(holidays, open('holidays.p', 'wb'))
# pickle.dump(submission_frequency, open('submission_frequency.p', 'wb'))
train = pickle.load(open('train.p', 'rb'))
weather = pickle.load(open('weather.p', 'rb'))
holidays = pickle.load(open('holidays.p', 'rb'))
submission_frequency = pickle.load(open('submission_frequency.p', 'rb'))

### Fix missing and non-numeric values

In [62]:
#replace missing values with 0
train.Value.fillna(0, inplace=True)

In [31]:
#replace weather temperature with average of each time
weather_grouped = weather.groupby(by=['SiteId', 'Timestamp']).mean()
weather_grouped['Timestamp'] = weather_grouped.apply(
    lambda row: row.name[1], axis=1)
weather_grouped['SiteId'] = weather_grouped.apply(
    lambda row: row.name[0], axis=1)

In [34]:
weather_grouped['Timestamp'] = pd.to_datetime(weather_grouped['Timestamp'])
weather_grouped.index = weather_grouped['Unnamed: 0']
weather_grouped.drop('Unnamed: 0', axis=1, inplace=True)
weather_grouped.reset_index(inplace=True)

In [8]:
#replace True and False with 1 and 0
for feature in range(4,11):
    metadata[metadata.columns[feature]].replace({True:1, False:0}, inplace=True)
metadata.index = metadata.SiteId

### Feature Engineering

Add day of week

In [21]:
train['DayofWeek'] = pd.to_datetime(train['Date']).dt.weekday_name
submission_format['DayofWeek'] = pd.to_datetime(submission_format['Date']).dt.weekday_name

Change holidays to 1

In [27]:
holidays['isHoliday'] = 1

Add temperature to metadata

In [13]:
# finds sites that do not have sufficient temperature data
def no_temp(data):
    delete_list = []
    for site in data.SiteId.unique():
        threshold_size = data[data.SiteId==site].shape[0]*0.5
        try:
            if data[data.SiteId==site].Temperature.isnull().value_counts()[0] < threshold_size:
                delete_list.append(site)
        except KeyError:
            delete_list.append(site)
    return delete_list

In [14]:
metadata['Temperature'] = 1
metadata.loc[no_temp(df),'Temperature'] = 0

In [6]:
# pickle.dump(train, open('train.p', 'wb'))
# pickle.dump(weather, open('weather.p', 'wb'))
# pickle.dump(metadata, open('metadata.p', 'wb'))
# pickle.dump(weather_grouped, open('weather_grouped.p','wb'))
# pickle.dump(holidays, open('holidays.p', 'wb'))
# pickle.dump(submission_format, open('submission_format.p', 'wb'))
train = pickle.load(open('train.p', 'rb'))
weather = pickle.load(open('weather.p', 'rb'))
metadata = pickle.load(open('metadata.p', 'rb'))
weather_grouped = pickle.load(open('weather_grouped.p', 'rb'))
holidays = pickle.load(open('holidays.p', 'rb'))
submission_format = pickle.load(open('submission_format.p', 'rb'))

## Formatting for submission

In [7]:
submission_format.head()

,obs_id,SiteId,Timestamp,ForecastId,Value,Date,Year,Month,Time,Hour,DayofWeek
0,1677832,1,2015-08-29,1,0.0,2015-08-29,2015,8,00:00:00,0,Saturday
1,5379616,1,2015-08-30,1,0.0,2015-08-30,2015,8,00:00:00,0,Sunday
2,496261,1,2015-08-31,1,0.0,2015-08-31,2015,8,00:00:00,0,Monday
3,4567147,1,2015-09-01,1,0.0,2015-09-01,2015,9,00:00:00,0,Tuesday
4,3684873,1,2015-09-02,1,0.0,2015-09-02,2015,9,00:00:00,0,Wednesday

In [8]:
train.head()

,obs_id,SiteId,Timestamp,Value,Date,Time,Hour,DayofWeek,Year,Month
0,744519,1,2014-09-03,9.096555e+05,2014-09-03,00:00:00,0,Wednesday,2014,9
1,7627564,1,2014-09-04,1.748273e+06,2014-09-04,00:00:00,0,Thursday,2014,9
2,7034705,1,2014-09-05,0.000000e+00,2014-09-05,00:00:00,0,Friday,2014,9
3,5995486,1,2014-09-06,0.000000e+00,2014-09-06,00:00:00,0,Saturday,2014,9
4,7326510,1,2014-09-07,0.000000e+00,2014-09-07,00:00:00,0,Sunday,2014,9

## Prepare dataframe

In [71]:
# merge weather data
df = train.merge(weather_grouped, how='left', on=['Timestamp','SiteId'])
# merge holidays data
df = df.merge(holidays, how='left', on=['Date','SiteId'])

This killed the kernel...

In [ ]:
df.merge(metadata)

In [10]:
metadata.head()

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,1,1387.205119,15.0,18.0,0,0,0,0,0,1,1
1,2,6098.278376,30.0,18.0,0,0,0,0,0,1,1
2,3,10556.293605,5.0,18.0,0,0,0,0,0,1,0
3,5,12541.181277,30.0,18.0,0,0,0,0,0,1,1
4,6,9150.195373,30.0,18.0,0,0,0,0,0,1,1

Use this to filter out all the times that we do not need

In [132]:
df[(df.SiteId==1) | (df.SiteId==2)].head()

,obs_id,SiteId,Timestamp,Value,Date,Time,Hour,Unnamed: 0,Temperature,Distance,Year
0,744519,1,2014-09-03,9.096555e+05,2014-09-03,00:00:00,0,90323.5,19.60,22.921092,2014.0
1,7627564,1,2014-09-04,1.748273e+06,2014-09-04,00:00:00,0,90349.0,21.30,22.921092,2014.0
2,7034705,1,2014-09-05,0.000000e+00,2014-09-05,00:00:00,0,90375.0,23.35,22.921092,2014.0
3,5995486,1,2014-09-06,0.000000e+00,2014-09-06,00:00:00,0,90399.5,21.60,22.921092,2014.0
4,7326510,1,2014-09-07,0.000000e+00,2014-09-07,00:00:00,0,90425.0,15.80,22.921092,2014.0

In [12]:
# pickle.dump(df, open('df.p', 'wb'))
df = pickle.load(open('df.p', 'rb'))

In [127]:
df[df.SiteId==1]

,obs_id,SiteId,Timestamp,Value,Date,Time,Hour,Unnamed: 0,Temperature,Distance,Year
0,744519,1,2014-09-03,9.096555e+05,2014-09-03,00:00:00,0,90323.5,19.60,22.921092,2014.0
1,7627564,1,2014-09-04,1.748273e+06,2014-09-04,00:00:00,0,90349.0,21.30,22.921092,2014.0
2,7034705,1,2014-09-05,0.000000e+00,2014-09-05,00:00:00,0,90375.0,23.35,22.921092,2014.0
3,5995486,1,2014-09-06,0.000000e+00,2014-09-06,00:00:00,0,90399.5,21.60,22.921092,2014.0
4,7326510,1,2014-09-07,0.000000e+00,2014-09-07,00:00:00,0,90425.0,15.80,22.921092,2014.0
5,3625268,1,2014-09-08,1.964878e+06,2014-09-08,00:00:00,0,90451.0,15.25,22.921092,2014.0
6,6038546,1,2014-09-09,3.266904e+06,2014-09-09,00:00:00,0,90477.0,19.15,22.921092,2014.0
7,4114748,1,2014-09-10,2.926094e+06,2014-09-10,00:00:00,0,90503.0,19.25,22.921092,2014.0
8,2572804,1,2014-09-11,1.720502e+06,2014-09-11,00:00:00,0,90529.0,23.55,22.921092,2014.0
9,2078763,1,2014-09-12,1.136248e+06,2014-09-12,00:00:00,0,90555.0,12.05,22.921092,2014.0
10,2088236,1,2014-09-13,1.040529e+06,2014-09-13,00:00:00,0,90581.0,14.05,22.921092,2014.0
11,330448,1,2014-09-14,1.030668e+06,2014-09-14,00:00:00,0,90607.0,9.05,22.921092,2014.0
12,1085235,1,2014-09-15,1.226753e+06,2014-09-15,00:00:00,0,90633.0,11.10,22.921092,2014.0
13,2629496,1,2014-09-16,1.228874e+06,2014-09-16,00:00:00,0,90659.0,12.60,22.921092,2014.0
14,3828297,1,2014-09-17,1.169026e+06,2014-09-17,00:00:00,0,90685.0,13.10,22.921092,2014.0
15,7855117,1,2014-09-18,1.513722e+06,2014-09-18,00:00:00,0,90711.0,11.75,22.921092,2014.0
16,882799,1,2014-09-19,2.015528e+06,2014-09-19,00:00:00,0,90736.5,9.60,22.921092,2014.0
17,3046848,1,2014-09-20,2.548943e+06,2014-09-20,00:00:00,0,90762.5,13.10,22.921092,2014.0
18,829135,1,2014-09-21,4.235358e+06,2014-09-21,00:00:00,0,90788.5,18.10,22.921092,2014.0
19,4339052,1,2014-09-22,5.538000e+06,2014-09-22,00:00:00,0,90814.0,10.75,22.921092,2014.0
20,4210177,1,2014-09-23,6.145531e+06,2014-09-23,00:00:00,0,90839.0,10.65,22.921092,2014.0
21,7684808,1,2014-09-24,5.536844e+06,2014-09-24,00:00:00,0,90865.0,13.05,22.921092,2014.0
22,6224650,1,2014-09-25,4.212580e+06,2014-09-25,00:00:00,0,90891.0,15.20,22.921092,2014.0
23,5327620,1,2014-09-26,4.778401e+06,2014-09-26,00:00:00,0,90917.0,14.20,22.921092,2014.0
24,1541431,1,2014-09-27,5.907855e+06,2014-09-27,00:00:00,0,90943.0,15.65,22.921092,2014.0
25,3513640,1,2014-09-28,4.677118e+06,2014-09-28,00:00:00,0,90969.0,15.90,22.921092,2014.0
26,720788,1,2014-09-29,2.470595e+06,2014-09-29,00:00:00,0,90995.0,15.65,22.921092,2014.0
27,6135591,1,2014-09-30,2.676795e+06,2014-09-30,00:00:00,0,91021.0,18.05,22.921092,2014.0
28,4289315,1,2014-10-01,2.445638e+06,2014-10-01,00:00:00,0,91046.0,12.00,22.921092,2014.0
29,5427741,1,2014-10-02,2.358238e+06,2014-10-02,00:00:00,0,91072.0,14.85,22.921092,2014.0
...,...,...,...,...,...,...,...,...,...,...,...
870,5215821,1,2017-07-19,5.466564e+06,2017-07-19,00:00:00,0,12511.5,22.30,22.921092,2017.0
871,6522379,1,2017-07-20,4.704874e+06,2017-07-20,00:00:00,0,12539.5,22.90,22.921092,2017.0
872,129197,1,2017-07-21,3.239014e+06,2017-07-21,00:00:00,0,12568.5,25.60,22.921092,2017.0
873,2884571,1,2017-07-22,2.548423e+06,2017-07-22,00:00:00,0,12596.5,25.00,22.921092,2017.0
874,180731,1,2017-07-23,5.019414e+06,2017-07-23,00:00:00,0,12630.5,23.90,22.921092,2017.0
875,5311344,1,2017-07-24,7.728275e+06,2017-07-24,00:00:00,0,12661.0,21.50,22.921092,2017.0
876,5977873,1,2017-07-25,9.457201e+06,2017-07-25,00:00:00,0,12689.5,17.60,22.921092,2017.0
877,5636959,1,2017-07-26,9.559089e+06,2017-07-26,00:00:00,0,12717.5,18.45,22.921092,2017.0
878,4447713,1,2017-07-27,8.217598e+06,2017-07-27,00:00:00,0,12745.5,22.15,22.921092,2017.0
879,4567242,1,2017-07-28,8.998796e+06,2017-07-28,00:00:00,0,12773.5,20.25,22.921092,2017.0
880,7416112,1,2017-07-29,9.676718e+06,2017-07-29,00:00:00,0,12802.5,17.65,22.921092,2017.0
881,6942300,1,2017-07-30,1.001421e+07,2017-07-30,00:00:00,0,12831.0,21.40,22.921092,2017.0
882,5295474,1,2017-07-31,9.724861e+06,2017-07-31,00:00:00,0,12859.0,22.20,22.921092,2017.0
883,6055353,1,2017-08-01,7.452632e+06,2017-08-01,00:00:00,0,12887.0,22.85,22.921092,2017.0
884,6969485,1,2017-08-02,6.947602e+06,2017-08-02,00:00:00,0,12917.0,24.05,22.921092,2017.0
885,3731730,1,2017-08-03,5.558993e+06,2017-08-03,00:00:00,0,12947.5,21.20,22.921092,2017.0
886,2773225,1,2017-08-04,3.109763e+06,2017-08-04,00:00:00,0,12978.0,22.30,22.921092,2017.0
887,7554935,1,2017-08-05,2.060588e+06,2017-08-05,00:00:00,0,13010.0,17.20,22.921092,2017.0
888,3193071,1,2017-08-06,2.069479e+06,2017-08-06,00:00:00,0,13038.0,18.15,22.921092,2017.0
889,1813471,1,2017-08-07,2.276669e+06,2017-08-07,00:00:00,0,13066.5,18.85,22.921092,2017.0
890,4203417,1,2017-08-08,2.830752e+06,2017-08-08,00:00:00,0,13093.5,18.45,22.921092,2017.0
891,2563161,1,2017-08-09,2.917397e+06,2017-08-09,00:00:00,0,13121.5,19.85,22.921092,2017.0
892,4987435,1,2017-08-10,2.125744e+06,2017-08-10,00:00:00,0,13149.0,19.70,22.921092,2017.0
893,218824,1,2017-08-11,1.854449e+06,2017-08-11,00:00:00,0,13177.5,20.60,22.921092,2017.0
894,472163,1,2017-08-12,1.742115e+06,2017-08-12,00:00:00,0,13208.0,21.30,22.921092,2017.0
895,2585332,1,2017-08-13,4.561741e+06,2017-08-13,00:00:00,0,13238.5,17.70,22.921092,2017.0
896,3715263,1,2017-08-14,2.391621e+06,2017-08-14,00:00:00,0,13267.0,19.20,22.921092,2017.0
897,73132,1,2017-08-15,2.463797e+06,2017-08-15,00:00:00,0,13295.0,20.55,22.921092,2017.0
898,3738568,1,2017-08-16,2.364136e+06,2017-08-16,00:00:00,0,13320.5,20.45,22.921092,2017.0
899,1809989,1,2017-08-17,2.220410e+06,2017-08-17,00:00:00,0,13348.5,20.60,22.921092,2017.0

In [70]:
df[df.Temperature.isna()].SiteId.value_counts(ascending=False)

302    167975
261    156168
271    125318
269    118844
276    106040
190    102184
232     92544
14      92544
22      90603
298     90499
121     84701
123     84701
287     84364
122     82768
6       75692
33      72804
115     71950
221     67204
280     63624
120     63447
295     62545
25      62386
119     62062
8       61572
87      61306
237     60976
140     60277
200     58086
141     57840
41      57837
        ...
32         22
189        21
172        19
193        17
213        16
206        10
125         9
293         8
219         8
211         8
102         8
202         7
51          7
10          7
3           6
301         5
303         5
1           5
290         5
38          4
196         4
304         4
29          3
12          2
240         2
7           2
184         2
278         1
236         1
241         1
Name: SiteId, Length: 266, dtype: int64

In [67]:
metadata

,SiteId,Surface,Sampling,BaseTemperature,MondayIsDayOff,TuesdayIsDayOff,WednesdayIsDayOff,ThursdayIsDayOff,FridayIsDayOff,SaturdayIsDayOff,SundayIsDayOff
0,1,1387.205119,15.0,18.0,False,False,False,False,False,True,True
1,2,6098.278376,30.0,18.0,False,False,False,False,False,True,True
2,3,10556.293605,5.0,18.0,False,False,False,False,False,True,False
3,5,12541.181277,30.0,18.0,False,False,False,False,False,True,True
4,6,9150.195373,30.0,18.0,False,False,False,False,False,True,True
5,7,15168.125971,30.0,18.0,False,False,False,False,False,True,True
6,8,22221.851847,30.0,18.0,False,False,False,False,False,True,True
7,9,14588.849015,30.0,18.0,False,False,False,False,False,True,True
8,10,6393.671251,30.0,18.0,False,False,False,False,False,True,True
9,11,2517.739425,30.0,18.0,False,False,False,False,False,True,True
10,12,33676.246551,15.0,18.0,False,False,False,False,False,True,True
11,13,891.487850,15.0,18.0,False,False,False,False,False,True,True
12,14,702.101695,15.0,18.0,False,False,False,False,False,True,True
13,15,1416.796369,15.0,18.0,False,False,False,False,False,True,True
14,16,1218.738383,15.0,18.0,False,False,False,False,False,True,True
15,17,1625.837520,15.0,18.0,False,False,False,False,False,True,True
16,18,677.533195,15.0,18.0,False,False,False,False,False,True,True
17,19,613.820937,30.0,18.0,False,False,False,False,False,True,True
18,20,17449.241936,10.0,18.0,False,False,False,False,False,True,True
19,21,10985.292634,10.0,18.0,False,False,False,False,False,True,True
20,22,7392.365415,10.0,18.0,False,False,False,False,False,True,True
21,23,6649.452014,15.0,18.0,False,False,False,False,False,False,True
22,25,2201.924904,15.0,18.0,False,False,False,False,False,True,True
23,26,14.884534,15.0,18.0,False,False,False,False,False,True,True
24,27,17.321667,15.0,18.0,False,False,False,False,False,True,True
25,29,7406.128494,15.0,18.0,False,False,False,False,False,True,True
26,32,6225.945150,10.0,18.0,False,False,False,False,False,True,True
27,33,3280.584454,10.0,18.0,False,False,False,False,False,True,True
28,34,1868.542638,10.0,18.0,False,False,False,False,False,True,True
29,38,14612.245695,30.0,18.0,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...
237,274,1468.246690,5.0,18.0,False,False,False,False,False,True,True
238,275,2479.178923,5.0,18.0,False,False,False,False,False,True,True
239,276,621.276731,5.0,18.0,False,False,False,False,False,True,True
240,277,680.576657,5.0,18.0,False,False,False,False,False,True,True
241,278,3632.271583,5.0,18.0,False,False,False,False,False,True,True
242,279,1287.678025,5.0,18.0,False,False,False,False,False,True,True
243,280,407.170383,5.0,18.0,False,False,False,False,False,True,True
244,281,2171.888160,5.0,18.0,False,False,False,False,False,True,True
245,282,2632.494563,5.0,18.0,False,False,False,False,False,True,True
246,283,10363.823714,15.0,18.0,False,False,False,False,False,True,True
247,284,5703.070019,15.0,18.0,False,False,False,False,False,True,True
248,285,5996.254722,15.0,18.0,False,False,False,False,False,True,True
249,286,3580.148991,5.0,18.0,False,False,False,False,False,True,True
250,287,22495.507056,15.0,18.0,False,False,False,False,False,True,True
251,288,23165.969177,15.0,18.0,False,False,False,False,False,False,False
252,289,14578.774718,15.0,18.0,False,False,False,False,False,False,True
253,290,34549.564657,15.0,18.0,False,False,False,False,False,True,True
254,292,16748.180710,10.0,18.0,False,False,False,False,False,True,True
255,293,4253.565515,10.0,18.0,False,False,False,False,False,True,True
256,294,4737.008135,10.0,18.0,False,False,False,False,False,True,True
257,295,10814.258273,10.0,18.0,False,False,False,False,False,True,True
258,297,19608.574928,15.0,18.0,False,False,False,False,False,False,True
259,298,3142.369640,15.0,18.0,False,False,False,False,False,True,True
260,299,71.126413,15.0,18.0,False,False,False,False,False,True,True
261,300,3813.660202,15.0,18.0,False,False,False,False,False,True,True
262,301,21849.456801,15.0,18.0,False,False,False,False,False,True,True
263,302,21284.578622,15.0,18.0,False,False,False,False,False,True,True
264,303,17934.445927,15.0,18.0,False,False,False,False,False,True,True
265,304,1258.897887,15.0,18.0,False,False,False,False,False,True,True
266,305,1296.111786,15.0,18.0,False,False,False,False,False,True,True

http://pandas.pydata.org/pandas-docs/version/0.16.2/generated/pandas.DataFrame.interpolate.html